# macOS
.DS_Store

# Node.js
node_modules/

# Firebase
.env
.env.*
firebase-debug.log
firestore-debug.log
ui-debug.log
functions/.cache/
GoogleService-Info.plist

# Xcode
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
